/x_test_smoteenn_data_pca.csv
/x_train_smoteenn_data.csv
/x_train_smoteenn_data_pca.csv
/x_train_smoteenn_data_umap.csv
/y_test_smoteenn_data_pca.csv
/y_train_smoteenn_data.csv
/y_train_smoteenn_data_pca.csv
/y_train_smoteenn_data_umap.csv
